asgiref==3.5.2
autopep8==2.0.1
Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.0
numpy==1.24.3
Pillow==9.2.0
psycopg2==2.9.5
pycodestyle==2.10.0
PyJWT==1.7.1
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.7
